@model mercado.nu.Models.ViewModels.MarketResearchSummeryVm
@using mercado.nu.Models.Evaluations

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h2>Utvärdering av undersökning</h2>
        </div>
        <div class="col"></div>
    </div>
    @{ int tableNumber = 0;}
    @foreach (var List in Model.SummaryOfMarketResearch)
    {
        string tableName = "table" + tableNumber;
        string canvasName = "canvas" + tableNumber;
        if (List is SpanQuestion)
        {

            SpanQuestion parseList = (SpanQuestion)List;

            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h3>Fråga @parseList.QuestionNumber</h3>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h4>@parseList.TheQuestion</h4>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <table id="@tableName">
                        <thead>
                            <tr>
                                <th>Bedömningsskala</th>
                                <th>Antal</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in parseList.CountListSorted)
                        {

                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Count</td>
                        </tr>

                        }
                        </tbody>
                    </table>
                </div>
                <div class="col"><canvas id="@canvasName" width="200" height="100"></canvas></div>
            </div>
            tableNumber++;
        }

        if (List is BinaryQuestion)
        {

            BinaryQuestion parseList = (BinaryQuestion)List;

            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h3>Fråga @parseList.QuestionNumber</h3>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h4>@parseList.TheQuestion</h4>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <table id="@tableName">
                        <thead>
                            <tr>
                                <th>Bedömningsskala</th>
                                <th>Antal</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in parseList.CountListSorted)
    {
                                <tr>
                                    <td>@item.Key</td>
                                    <td>@item.Count</td>
                                </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="col"><canvas id="@canvasName" width="200" height="100"></canvas></div>
            </div>
            tableNumber++;
        }

        if (List is MultipleChoiceQuestion)
        {

            MultipleChoiceQuestion parseList = (MultipleChoiceQuestion)List;

            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h3>Fråga @parseList.QuestionNumber</h3>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h4>@parseList.TheQuestion</h4>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <table id="@tableName">
                        <thead>
                            <tr>
                                <th>Bedömningsskala</th>
                                <th>Antal</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in parseList.CountListSorted)
    {
                                <tr>
                                    <td>@item.Key</td>
                                    <td>@item.Count</td>
                                </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="col"><canvas id="@canvasName" width="200" height="100"></canvas></div>
            </div>
            tableNumber++;
        }

        if (List is TextQuestion)
        {

            TextQuestion parseList = (TextQuestion)List;

            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h3>Fråga @parseList.QuestionNumber</h3>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h4>@parseList.TheQuestion</h4>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <table>
                        <thead>
                            <tr>
                                <th>Respondent</th>
                                <th>Textsvar</th>
                            </tr>
                        </thead>
                        @foreach (var item in parseList.TextList)
    {
                            <tbody>
                                <tr>
                                    <td>@item.Key</td>
                                    <td>@item.TextAnswer</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <div class="col"></div>
            </div>
        }

    }
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="~/js/MercadoChart.js"></script>