@model mercado.nu.Models.ViewModels.ViewAllQuestionsForMarketResearchVm
@using mercado.nu.Models.Entities

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><h1>Alla frågor i marknadsundersökningen</h1></div>
        <div class="col-md-2"></div>
    </div>
    @foreach (var question in Model.Questions)
    {
    
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><h3>Fråga @question.QuestionNumber</h3></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><h4>@question.ActualQuestion</h4></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            @if ( question.QuestionType == QuestionTypes.Graderingsfråga )
            {
                <div class="col-md-2"></div>
                <div class="card">
                    <div class="col-md-8">

                        <div class="card-body">
                            <form>
                                @foreach (var questionOption in question.QuestionOptions)
                                {
                                    <label for="@questionOption.QuestionOptionId">@questionOption.QuestionOptionHeading</label>
                                    <input name="question" id="@questionOption.QuestionOptionId" type="radio" value="@questionOption.Value" />
                                }
                                <a class="card-link" asp-action="">Ändra frågan</a>
                            </form>
                        </div>

                    </div>
                </div>
                    <div class="col-md-2"></div>
                    }
                    else if (question.QuestionType == QuestionTypes.Flervalsfråga)
                    {
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <form>
                            @foreach (var questionOption in question.QuestionOptions)
                            {

                                <label for="@questionOption.QuestionOptionId">@questionOption.QuestionOptionHeading</label>
                                <input name="question" id="@questionOption.QuestionOptionId" type="checkbox" value="@questionOption.Value" />

                            }
                            <a asp-action="">Ändra frågan</a>
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                    }
                    else if (question.QuestionType == QuestionTypes.Binärfråga)
                    {
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <form>
                            @foreach (var questionOption in question.QuestionOptions)
                            {
                                string binaryType = questionOption.QuestionOptionHeading;
                                string[] binaryTypes = binaryType.Split('-');

                                <label>@binaryTypes[0].Trim()</label>
                                <input name="question" id="@questionOption.QuestionOptionId" type="radio" value="true" />
                                <label>@binaryTypes[1].Trim()</label>
                                <input name="question" id="@questionOption.QuestionOptionId" type="radio" value="false" />

                            }
                            <a asp-action="">Ändra frågan</a>
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                    }
                    else if (question.QuestionType == QuestionTypes.Textfråga)
                    {
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        @foreach (var questionOption in question.QuestionOptions)
                        {
                            <textarea></textarea>
                        }
                        <a asp-action="">Ändra frågan</a>
                    </div>
                    <div class="col-md-2"></div>
                    }
                </div>
    
    }
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><a asp-controller="MarketResearches" asp-action="Index">Tillbaka till undersökningarna</a></div>
            <div class="col-md-2"></div>
        </div>
</div>

