@model mercado.nu.Models.MarketResearch

@{
    ViewData["Title"] = "Details";
}



<div class="card" style="max-width: 65rem;">
    <div class="card-body">
        <h4>Detaljer för undersökning</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Purpose)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Purpose)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MinAge)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MinAge)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MaxAge)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaxAge)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Area)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Area)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
        </dl>
        <div>


            <a class="btn btn-primary" asp-controller="MarketResearches" asp-action="Edit" asp-route-id="@Model.MarketResearchId">Ändra i undersökning</a>
            <a class="btn btn-primary" asp-controller="MarketResearches" asp-action="CreateQuestionsToMarketResearch" asp-route-id="@Model.MarketResearchId">Lägg till frågor</a>
            <a class="btn btn-primary" asp-controller="Questions" asp-action="ShowQuestionsForMarketResearch" asp-route-marketResearchId="@Model.MarketResearchId">Visa frågor</a>
            <a class="btn btn-primary" asp-controller="Answers" asp-action="Evaluation" asp-route-marketResearchId="@Model.MarketResearchId">Utvärdering av undersökning</a>
            <a class="btn btn-primary" asp-controller="Answers" asp-action="ChoseQuestions" asp-route-marketResearchId="@Model.MarketResearchId">Undersök samband</a>
            <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.MarketResearchId">Ta bort undersökning</a>



        </div>
    </div>
</div>
<div><a class="btn btn-primary" asp-action="Index">Tillbaka till undersökningslistan</a></div>