@model mercado.nu.Models.ViewModels.SearchFunctionVm


@if (Model == null)
{
    <h5>Ingen sökträff</h5>
}

@if (Model?.Organizations == null)
{
}
else
{

    <main class="container" role="main">
        <div class="card">
            <div class="card-body">
                <table class="table">

                    @foreach (var item in Model.Organizations)
                    {
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.MarketResearches)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.City)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.Country)
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @item.MarketResearches.Count()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Country)
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </main>
}


@if (Model?.MarketResearches == null)
{
}
else
{
    <main class="container" role="main">
        <div class="card">
            <div class="card-body">
                <table class="table">

                    @foreach (var item in Model.MarketResearches)
                    {
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.CreationDate)
                                </th>
                                <th>
                                    Status
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreationDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OnGoing)
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.MarketResearchId">Detaljer</a>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </main>
}


@if (Model?.Questions == null)
{
}
else
{
    <main class="container" role="main">
        <div class="card">
            <div class="card-body">
                <table class="table">

                    @foreach (var item in Model.Questions)
                    {
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.ActualQuestion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.Answers)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.QuestionType)
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActualQuestion)
                                </td>
                                <td>
                                    @item.Answers.Count()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuestionType)
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </main>

}


<a asp-controller="MarketResearches" class="btn btn-primary" asp-action="SearchFor">Gå tillbaka</a>

