@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav flex-column">

    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a class="btn btn-primary" style="width: 250px;" asp-page="./Index">Profil</a></li><br />
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a class="btn btn-primary" style="width: 250px;" id="change-password" asp-page="./ChangePassword">Lösenord</a></li><br />
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a class="btn btn-primary" style="width: 250px;" id="external-login" asp-page="./ExternalLogins">Extern inloggning</a></li><br />
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a class="btn btn-primary" style="width: 250px;" asp-page="./TwoFactorAuthentication">Tvåfaktorsautentisering</a></li><br />
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a class="btn btn-primary" style="width: 250px;" asp-page="./PersonalData">Personlig data</a></li><br />
</ul>
